
POSTGRESQL_SERVER=localhost
POSTGRESQL_DB=my-db-name
POSTGRESQL_PASSWORD=my-db-password
POSTGRESQL_USER=my-db-user
POSTGRESQL_PORT=5432

MICROSOFT_SQL_SERVER = localhost
MICROSOFT_SQL_DB = my-db-name